body {

}

.header {
  display: flex;
  align-items: center;
  --z-index: 1;
  --flex-grow: 2;
  --position: fixed;
  --width: 100%;
}

h2 {
  color: MediumAquamarine;
  padding-left: 10px;
}

.logo {
  display: flex;
  --align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.header span {
  color: MediumAquamarine;
  padding-left: 10px;
  justify-content: space-between;
}

nav {
  text-align: right;
  --display: block;
  padding-right: 40px;
}

nav span {
    --display: inline-block;
    padding: 20px 10px;
    color: MediumAquamarine;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
