body {

}

div {
--  border: black solid 1px;
}

.header {
  display: flex;
}

.logo {
  flex-grow: 1;
  display: flex;
  padding-left: 30px;
}

.logo h2 {
  padding-left: 10px;
  color: MediumAquamarine;
}

.container nav {
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
}

.container nav span {
  padding: 20px 10px;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container nav a {
  color: MediumAquamarine;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.body_container {
  display: flex;
}

.first_column_stories {
  display: flex;
  justify-content: space-between;
}

.first_story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.second_story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.main_story_title p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.story_title p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  display: flex;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px 30px;
}

#main_story {
  background-image: url('../images/img-story-main.png');
}

#earth_story {
  background-image: url('../images/img-story-2.png');
  text-align: center;
  height: 300px;
}

#camera_story {
  background-image: url('../images/img-story-3.png');
  height: 300px;
}

#cats_story {
  display: flex;
  background-image: url('../images/img-story-1.png');
  height: 300px;
  width: 300px;
}

.box {
  display: flex;
  flex-direction: column;
}

.box img {
  width: 100%;
  height: 100%;
}

#large.column {
  width: 630px;
  flex-direction: column;
}

#medium.column {
  width: 300px;
  flex-direction: column;
}

#small.column {
  width: 240px;
  flex-direction: column;
}

h3.box {
  font-size: 16px;
  font-weight: bold;
}

.list_bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style-type: none;
}

.box span {
  display: block;
  border-bottom: 1px solid black;
}

.footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  align-items: center;
  flex-direction: column;
  font-family: Verdana;
  font-size: 12px;
  padding: 50px;
}

.footer_title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  justify-content: center;
  border-right: 2px solid white;
  padding-right: 25px;
}

.footer nav {
  display: inline-block;
  padding: 20px 10px;
}

.footer nav a {
  color: black;
}
